.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

.logo {
    color: #4793FF;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
}
.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 10px 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    color: #333;
  }
  
  .suggestion {
    padding: 10px;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
.search {
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;

    &__input {
        background: rgba(71, 147, 255, 0.2);
        border-radius: 10px;
        max-width: 194px;
        width: 100%;
        padding: 9px 20px;
        font-weight: 500;
        font-size: 14px;
        color: var(--color-alt);
        &::placeholder {
           color: var(--color-alt);
        }
    }
}